/* imports */
@import "./variables.css";

/* formated */
*, *::before, *::after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: var(--font-poppins);
  font-size: var(--size-body-normal);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
  background-color: var(--color-bg);
  color: white;
}

a {
  text-decoration: none;
  color: currentColor;
}
