/* imports */
@import "./principal-page.css";

/* variables */
:root {
  --color-primary: #fff;
  --color-green: #F6FF55;
  --color-blue: #6DBAFF;
  --color-gray-500: #737373;
  --color-gray-200: #e5e5e5;
  /* --color-blue: #070F2B; */
  --color-gradient-primary: linear-gradient(to bottom right, var(--color-green), var(--color-blue));
  
  /* fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-kanit: "Kanit", sans-serif;

  /* H1 — Main Title */
  --size-title-h1: clamp(32px, calc(3vw + 15px), 60px);
  --font-xl: 500 var(--size-title-h1) var(--font-kanit);

  /* H2 — Section Title */
  --size-title-h2: clamp(32px, calc(2.2vw + 24px), 50px);
  --font-lg: 500 var(--size-title-h2) var(--font-kanit);

  /* H3 — Subsection Title */
  --size-title-h3: clamp(28px, calc(1.6vw + 22px), 38px);
  --font-md: 500 var(--size-title-h3) var(--font-kanit);

  /* H4 — Minor Subtitle / Label */
  --size-title-h4: clamp(24px, calc(1.2vw + 20px), 32px);
  --font-sm: 500 var(--size-title-h4) var(--font-kanit);

  /* body */
  --size-body-normal: clamp(16px, calc(0.6vw + 14px), 18px);
  --line-height-body: 1.6;
  --letter-spacing-body: 0.3px;
}

/* formated */
*, *::before, *::after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: var(--font-poppins);
  font-size: var(--size-body-normal);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: currentColor;
}
