
/* === SECTION BLOGS === */
.section-blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 1rem;


  width: 100%;
  max-width: 1110px;
  margin: 0 auto;

  & h2 {
    font: var(--font-lg);
  }
  & > p {
    text-align: center;
    text-wrap: balance;
    color: var(--color-gray-500);
    width: 100%;
    max-width: 800px;
  }
}

.content-blogs {
  width: 100%;
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem 2rem;
  margin-bottom: 1rem;

  /* news-card */
  & .news-card {
    background-color: var(--color-bg-card);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
    cursor: pointer;
    border: 1px solid transparent;
    
    & picture {
      width: 100%;
      height: 100%;
      /* flex-shrink: 0; */

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        /* transition: transform 300ms ease-in-out; */
      }
    }

    & .news-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.25rem;
      position: relative;
      
      & .news-date {
        color: var(--color-primary);
        font-size: 12px;
        margin-bottom: 0.5rem;
      }
      & .news-title {
        font: var(--font-sm);
        color: white;
        line-height: 1.2;
        margin-bottom: 0.5rem;
      }

      & .news-note {
        color: var(--color-gray-500);
        font-size: 13px;
      }
    }

    &:hover {
      border-color: var(--color-primary);
      box-shadow: 0 10px 20px rgba(78, 225, 160, 0.2);
      transform: translateX(4px);
    }
  }
}
