/* === SECTION COURSES === */
.section-courses {
  padding: 1rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100%;
  max-width: 1110px;
  margin: 0 auto;

  & h2{ 
    font: var(--font-lg);
  }
  & .description p {
    text-align: center;
    text-wrap: balance;
    color: var(--color-gray-500);
  }
}

.content-courses {
  width: 100%;
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem 2rem;
  margin-bottom: 1rem;
}