/* === HERO === */
.hero-present {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  /* background: linear-gradient(to bottom, #000 80%, transparent); */

  & > picture {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    /* video-background blur */
    & video.video-bg {
      position: absolute;
      inset: 0;
      filter: brightness(.2) blur(20px);
      box-shadow: 0 0 10px #000;
      scale: 1.6;
      z-index: 0;
    }

    /* video-normal-main */
    & video.video-main {
      position: relative;
      scale: .95;
      border-radius: .5rem;
      z-index: 1;
      /* box-shadow: 0 0 100px #000; */
    }
  }

  & > a.down-section {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: 1;   

    transform: translate(-50%, 0);

    width: 100%;
    max-width: 3rem;

    & svg {
      width: 100%;
      stroke: white;
      display: block;
      transition: stroke 200ms ease-in-out;
      animation: slide-down 500ms linear infinite alternate;
    }

    &:hover svg {
      stroke: var(--color-primary);
    }
  }
}

.hero-present > div:nth-child(2){
  color: white;

  position: absolute;
  padding: 1rem 2rem;
  inset: 0;
  z-index: 1;

  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 8rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;

  & figure {
    width: 100%;
    max-width: 200px;
    margin-top: 3rem;

    & img {
      width: 100%;
      display: block;
    }
  }

  /* title */
  & h1 {
    /* color: red; */
    font: var(--font-xl);
    line-height: 1;
    text-wrap: balance;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px #00000080;

    & span {
      color: var(--color-primary);
    }
  }
}

/* === ANIMATIONS === */
@keyframes slide-down {
  100% {
    transform: translate(0, -6px);

  }
}