@import "../style.css";
@import "../header.css";
@import "./hero-page.css";
@import "./about-section.css";
@import "./courses-section.css";
@import "./blogs-section.css";
@import "../footer-page.css";
@import "../buttons.css";
